pics/**/*.jpg filter=lfs diff=lfs merge=lfs -text
pics/**/*.JPG filter=lfs diff=lfs merge=lfs -text
pics/**/*.png filter=lfs diff=lfs merge=lfs -text
pics/**/*.PNG filter=lfs diff=lfs merge=lfs -text
